@tailwind base;
@tailwind components;
@tailwind utilities;

.third-block-bg{
    background-image: url(./assets/img/thrid-block-bg.png);
    background-size: cover;
    background-color: #ECEFFF;
}
body, html {
    height: 100%;
}